@{
    ViewData["Title"] = "Home Page";  
}

@{
    
    List<SelectListItem> listItems2 = ViewData["AllTables"] as List<SelectListItem>;
        <div>
    @Html.DropDownList("yourDropName" , listItems2, new { @class = "form-control" })
    </div>
   
    String choosentable=ViewData["choosenTable"] as String;
    <input type="button" value="Show Table" onclick="location.href='@Url.Action("Index", choosentable)'" onclick="test"/>
    <button type="button" onclick="location.href='@Url.Action("Index","Todos")'">Klinknij</button>
    <div>  
    <label>Select your tables:</label>  
    @Html.ListBox("cos",listItems2, new { @class = "form-control" })
    
  
    </div>
    


}

 