@model DotNetCoreSqlDb.Models.AllTables
@{
    ViewData["Title"] = "Home Page";  
}

@{
    <br>    
    <div>
        @Html.DropDownList("MySkills", (IEnumerable<SelectListItem>)ViewBag.MySkills, new { @class = "form-control" }) 
    </div> 
    <br>
    <div>
        @{String choosentable=ViewData["choosenTable"] as String;
        <input class="btn btn-primary" type="button" value="Kliet" onclick="location.href='@Url.Action("Index", choosentable)'" onclick="test"/>}
    </div>
    <br>
    <div>
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index","Todos")'">Todos</button>
    </div>
    <br>
    <div>
        @using (Html.BeginForm("Index",  "Adres", FormMethod.Post, new { role = "form" })) {
            <button type="submit" class="btn btn-primary">Adres</button>
        }   
    </div>
    <div>
        <form method="post" >
        <fieldset>
          <legend>Create own SQL Query: </legend>
          <div>
            <label for="SQL Query">Company Name:</label>
            <input type="text" name="CompanyName" value="" />
          </div>
          
          <div>
            <label>&nbsp;</label>
            <input class="btn btn-primary" type="submit" value="Send SQL" class="submit" />
          </div>
        </fieldset>
      </form>
    </div>
}